html {
  min-height: 75%;
  min-width: 75%;
  position: relative;
}

.container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 10;
    border-radius: 20;
    margin-bottom: 10;
    font-size: 15px;
    letter-spacing: 6px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
	padding-top: 70px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 50px;
	font-size: 10px;
	margin-bottom: 20px;
  color: #fff;
}
